@using MegaMan2Customizer.Core
@using MegaMan2Customizer.WebApp.Models

@model RomFormModel

@{
    MegaManRom rom = this.Model.Rom;
}

<div class="card">
    <div class="card-header">
        <h2><a data-toggle="collapse" href="#collapseMegaMan">Mega Man Options</a></h2>
    </div>
    <div class="card-body collapse" id="collapseMegaMan">
        <div class="row">
            <div class="col-md-3 form-group">
                <label for="startingHealth">Starting Health</label>
                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="startingHealth" id="startingHealth" value="@rom.MegaMan.StartingHealth" placeholder="Default: 28" />
            </div>
            <div class="col-md-3 form-group">
                <label for="maxHealth">Max Health</label>
                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="maxHealth" id="maxHealth" value="@rom.MegaMan.MaxHealth" placeholder="Default: 28" />
            </div>
            <div class="col-md-3 form-group">
                <label for="speed">Running Speed</label>
                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="speed" id="speed" value="@rom.MegaMan.Speed" placeholder="Default: 1" />
            </div>
            <div class="col-md-3 form-group">
                <label for="jumpHeight">Jump Height</label>
                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="jumpHeight" id="jumpHeight" value="@rom.MegaMan.JumpHeight" placeholder="Default: 4" />
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseWeapons">Weapon Options</a></h3>
            </div>
            <div id="collapseWeapons" class="collapse card-body">

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseMegaBuster">Mega Buster</a></h4>
                    </div>
                    <div id="collapseMegaBuster" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "busterPrimaryColor", rom.MegaMan.BusterPrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "busterSecondaryColor", rom.MegaMan.BusterSecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="busterSpeed">Projectile Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="busterSpeed" id="busterSpeed" value="@rom.MegaMan.BusterSpeed" placeholder="Default: 4" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="busterShots">Max Projectiles on Screen</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="busterShots" id="busterShots" value="@rom.MegaMan.MaxBusterShots" placeholder="Default: 3" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseAtomicFire">Atomic Fire</a></h4>
                    </div>
                    <div id="collapseAtomicFire" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "atomicFirePrimaryColor", rom.Weapons.AtomicFire.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "atomicFireSecondaryColor", rom.Weapons.AtomicFire.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="atomicFireLevel1Ammo">Level 1 Ammo Used</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="atomicFireLevel1Ammo" id="atomicFireLevel1Ammo" value="@rom.Weapons.AtomicFire.Level1AmmoUsed" placeholder="Default: 1" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="atomicFireLevel2ChargeTime">Level 2 Charge Time</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="atomicFireLevel2ChargeTime" id="atomicFireLevel2ChargeTime" value="@rom.Weapons.AtomicFire.Level2ChargeTime" placeholder="Default: 125" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="atomicFireLevel2Ammo">Level 2 Ammo Used</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="atomicFireLevel2Ammo" id="atomicFireLevel2Ammo" value="@rom.Weapons.AtomicFire.Level2AmmoUsed" placeholder="Default: 6" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="atomicFireLevel3ChargeTime">Level 3 Charge Time</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="atomicFireLevel3ChargeTime" id="atomicFireLevel3ChargeTime" value="@rom.Weapons.AtomicFire.Level3ChargeTime" placeholder="Default: 125" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="atomicFireLevel3Ammo">Level 3 Ammo Used</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="atomicFireLevel3Ammo" id="atomicFireLevel3Ammo" value="@rom.Weapons.AtomicFire.Level3AmmoUsed" placeholder="Default: 10" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="atomicFireSpeed">Projectile Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="atomicFireSpeed" id="atomicFireSpeed" value="@rom.Weapons.AtomicFire.ProjectileSpeed" placeholder="Default: 4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseAirShooter">Air Shooter</a></h4>
                    </div>
                    <div id="collapseAirShooter" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "airShooterPrimaryColor", rom.Weapons.AirShooter.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "airShooterSecondaryColor", rom.Weapons.AirShooter.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="airShooterAmmo">Ammo Used</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airShooterAmmo" id="airShooterAmmo" value="@rom.Weapons.AirShooter.AmmoUsed" placeholder="Default: 2" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="airShooterShots">Number of Projectiles</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airShooterShots" id="airShooterShots" value="@rom.Weapons.AirShooter.ProjectileCount" placeholder="Default: 4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseLeafShield">Leaf Shield</a></h4>
                    </div>
                    <div id="collapseLeafShield" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "leafShieldPrimaryColor", rom.Weapons.LeafShield.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "leafShieldSecondaryColor", rom.Weapons.LeafShield.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="leafShieldAmmo">Ammo Used</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="leafShieldAmmo" id="leafShieldAmmo" value="3" placeholder="Default: 3" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="leafShieldSpeed">Projectile Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="leafShieldSpeed" id="leafShieldSpeed" value="4" placeholder="Default: 4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseBubbleLead">Bubble Lead</a></h4>
                    </div>
                    <div id="collapseBubbleLead" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "bubbleLeadPrimaryColor", rom.Weapons.BubbleLead.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "bubbleLeadSecondaryColor", rom.Weapons.BubbleLead.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="bubbleLeadAmmo">Shots per Ammo Tick</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleLeadAmmo" id="bubbleLeadAmmo" value="2" placeholder="Default: 2" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="bubbleLeadShots">Max Projectiles on Screen</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleLeadShots" id="bubbleLeadShots" value="3" placeholder="Default: 3" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="bubbleLeadHorizontalSpeed">Projectile Horizontal Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleLeadHorizontalSpeed" id="bubbleLeadHorizontalSpeed" value="1" placeholder="Default: 1" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="bubbleLeadVerticalSpeed">Projectile Vertical Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleLeadVerticalSpeed" id="bubbleLeadVerticalSpeed" value="2" placeholder="Default: 2" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="bubbleLeadSurfaceSpeed">Projectile Surface Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleLeadSurfaceSpeed" id="bubbleLeadSurfaceSpeed" value="2" placeholder="Default: 2" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="bubbleLeadFallingSpeed">Projectile Falling Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleLeadFallingSpeed" id="bubbleLeadFallingSpeed" value="254" placeholder="Default: 254" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseQuickBoomerang">Quick Boomerang</a></h4>
                    </div>
                    <div id="collapseQuickBoomerang" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "quickBoomerangPrimaryColor", rom.Weapons.QuickBoomerang.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "quickBoomerangSecondaryColor", rom.Weapons.QuickBoomerang.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="quickBoomerangAmmo">Shots per Ammo Tick</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickBoomerangAmmo" id="quickBoomerangAmmo" value="8" placeholder="Default: 8" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="quickBoomerangShots">Max Projectiles on Screen</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickBoomerangShots" id="quickBoomerangShots" value="5" placeholder="Default: 5" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="quickBoomerangDelay">Auto-fire Delay</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickBoomerangDelay" id="quickBoomerangDelay" value="11" placeholder="Default: 11" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="quickBoomerangDistance">Travel Distance</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickBoomerangDistance" id="quickBoomerangDistance" value="82" placeholder="Default: 82" />
                            </div>

                            <div class="col-md-3 form-group">
                                <label for="quickBoomerangLaunchAngle">Launch Angle</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickBoomerangLaunchAngle" id="quickBoomerangLaunchAngle" value="75" placeholder="Default: 75" />
                            </div>

                            <div class="col-md-3 form-group">
                                <label for="quickBoomerangReturnAngle">Return Angle</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickBoomerangReturnAngle" id="quickBoomerangReturnAngle" value="75" placeholder="Default: 75" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseTimeStopper">Time Stopper</a></h4>
                    </div>
                    <div id="collapseTimeStopper" class="card-body collapse">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "timeStopperPrimaryColor", rom.Weapons.TimeStopper.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "timeStopperSecondaryColor", rom.Weapons.TimeStopper.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="timeStopperDrainRateDelay">Drain Rate Delay</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="timeStopperDrainRateDelay" id="timeStopperDrainRateDelay" value="15" placeholder="Default: 15" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="timeStopperDelayBeforeDrain">Delay Before Drain</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="timeStopperDelayBeforeDrain" id="timeStopperDelayBeforeDrain" value="15" placeholder="Default: 15" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseMetalBlade">Metal Blade</a></h4>
                    </div>
                    <div id="collapseMetalBlade" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "metalBladePrimaryColor", rom.Weapons.MetalBlade.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "metalBladeSecondaryColor", rom.Weapons.MetalBlade.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="metalBladeAmmo">Shots per Ammo Tick</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="metalBladeAmmo" id="metalBladeAmmo" value="4" placeholder="Default: 4" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="metalBladeShots">Max Projectiles on Screen</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="metalBladeShots" id="metalBladeShots" value="4" placeholder="Default: 4" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="metalBladeSpeed">Projectile Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="metalBladeSpeed" id="metalBladeSpeed" value="4" placeholder="Default: 4" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4><a data-toggle="collapse" href="#collapseCrashBomber">Crash Bomber</a></h4>
                    </div>
                    <div id="collapseCrashBomber" class="collapse card-body">
                        <div class="row">
                            <partial name="_ColorFormGroup" model="@("Primary Color", "crashBomberPrimaryColor", rom.Weapons.CrashBomber.PrimaryColor.Name)" />
                            <partial name="_ColorFormGroup" model="@("Secondary Color", "crashBomberSecondaryColor", rom.Weapons.CrashBomber.SecondaryColor.Name)" />
                            <div class="col-md-3 form-group">
                                <label for="crashBomberAmmo">Ammo Used</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="crashBomberAmmo" id="crashBomberAmmo" value="4" placeholder="Default: 4" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="crashBomberSpeed">Projectile Speed</label>
                                <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="crashBomberSpeed" id="crashBomberSpeed" value="4" placeholder="Default: 4" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2><a data-toggle="collapse" href="#collapseRobotMasters">Robot Master Options</a></h2>
    </div>
    <div class="collapse card-body" id="collapseRobotMasters">

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseBubbleMan">Bubble Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseBubbleMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "bubbleManPrimaryColor", rom.RobotMasters.BubbleMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "bubbleManSecondaryColor", rom.RobotMasters.BubbleMan.SecondaryColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="bubbleManRiseSpeed">Rise Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="bubbleManRiseSpeed" id="bubbleManRiseSpeed" value="@rom.RobotMasters.BubbleMan.RiseSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="bubbleManMaxHeight">Max Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="bubbleManMaxHeight" id="bubbleManMaxHeight" value="@rom.RobotMasters.BubbleMan.MaxHeight" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="bubbleManFallSpeed">Fall Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="bubbleManFallSpeed" id="bubbleManFallSpeed" value="@rom.RobotMasters.BubbleMan.FallSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="bubbleManShotDelay">Shot Delay</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="bubbleManShotDelay" id="bubbleManShotDelay" value="@rom.RobotMasters.BubbleMan.ShotDelay" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="bubbleManProjectileSpeed">Projectile Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleManProjectileSpeed" id="bubbleManProjectileSpeed" value="@rom.RobotMasters.BubbleMan.ProjectileSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="bubbleManProjectileVertSpeed">Projectile Vertical Launch Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleManProjectileVertSpeed" id="bubbleManProjectileVertSpeed" value="@rom.RobotMasters.BubbleMan.ProjectileVerticalLaunchSpeed" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="bubbleManBounceSpeed">Projectile Bounce Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="bubbleManBounceSpeed" id="bubbleManBounceSpeed" value="@rom.RobotMasters.BubbleMan.ProjectileBounceSpeed" />
                    </div>
                    <partial name="_WeaponFormGroup" model="@("bubbleManWeaponOnDefeat", rom.RobotMasters.BubbleMan.WeaponOnDefeat)" />
                    <div class="col-md-3 form-group">
                        <label for="bubbleManItemOnDefeat">Item On Defeat</label>
                        <input class="form-control" type="text" name="bubbleManItemOnDefeat" id="bubbleManItemOnDefeat" value="@rom.RobotMasters.BubbleMan.ItemOnDefeat.ToString()" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseAirMan">Air Man</a></h3>
            </div>

            <div class="card-body collapse" id="collapseAirMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "airManPrimaryColor", rom.RobotMasters.AirMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "airManSecondaryColor", rom.RobotMasters.AirMan.SecondaryColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="airManShotsBeforeJumping">Shots Before Jumping</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManShotsBeforeJumping" id="airManShotsBeforeJumping" value="@rom.RobotMasters.AirMan.ShotsBeforeJumping" placeholder="Default: 3" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="airManJump1Distance">First Jump Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManJump1Distance" id="airManJump1Distance" value="@rom.RobotMasters.AirMan.Jump1Distance" placeholder="Default: 1" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="airManJump1Height">First Jump Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManJump1Height" id="airManJump1Height" value="@rom.RobotMasters.AirMan.Jump1Height" placeholder="Default: 4" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="airManJump2Distance">Second Jump Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManJump2Distance" id="airManJump2Distance" value="@rom.RobotMasters.AirMan.Jump2Distance" placeholder="Default: 1" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="airManJump2Height">Second Jump Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManJump2Height" id="airManJump2Height" value="@rom.RobotMasters.AirMan.Jump2Height" placeholder="Default: 7" />
                    </div>
                </div>
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Tornado Primary Color", "airManTornadoPrimaryColor", rom.RobotMasters.AirMan.TornadoPrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Tornado Secondary Color", "airManTornadoSecondaryColor", rom.RobotMasters.AirMan.TornadoSecondaryColor.Name)" />
                </div>

                @for (int i = 0; i < rom.RobotMasters.AirMan.Patterns.Count; i++)
                {
                    TornadoPattern pattern = rom.RobotMasters.AirMan.Patterns[i];
                    <div class="card">
                        <div class="card-header">
                            @{ string patternCollapseId = $"collapsePattern{i + 1}"; }
                            <h4><a data-toggle="collapse" href="#@patternCollapseId">Tornado Pattern @(i + 1)</a></h4>
                        </div>
                        <div class="card-body collapse" id="@patternCollapseId">
                            <div class="row">
                                @for (int j = 0; j < pattern.Tornados.Count; j += 2)
                                {
                                    <div class="col-md-2 form-group">
                                        <label class="small" for="airManTornadoVertSpeed"><small>Tornado @(j + 1) Vert. Speed</small></label>
                                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManTornadoVertSpeed" id="airManTornadoVertSpeed" value="@pattern.Tornados[j].VerticalVelocity" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="small" for="airManTornadoHorzSpeed"><small>Tornado @(j + 1) Horz. Speed</small></label>
                                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManTornadoHorzSpeed" id="airManTornadoHorzSpeed" value="@pattern.Tornados[j].HorizontalVelocity" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="small" for="airManTornadoFlightTime"><small>Tornado @(j + 1) Flight Time</small></label>
                                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManTornadoFlightTime" id="airManTornadoFlightTime" value="@pattern.Tornados[j].FlightTime" />
                                    </div>

                                    <div class="col-md-2 form-group">
                                        <label class="small" for="airManTornadoVertSpeed"><small>Tornado @(j + 2) Vert. Speed</small></label>
                                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManTornadoVertSpeed" id="airManTornadoVertSpeed" value="@pattern.Tornados[j + 1].VerticalVelocity" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="small" for="airManTornadoHorzSpeed"><small>Tornado @(j + 2) Horz. Speed</small></label>
                                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManTornadoHorzSpeed" id="airManTornadoHorzSpeed" value="@pattern.Tornados[j + 1].HorizontalVelocity" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="small" for="airManTornadoFlightTime"><small>Tornado @(j + 2) Flight Time</small></label>
                                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="airManTornadoFlightTime" id="airManTornadoFlightTime" value="@pattern.Tornados[j + 1].FlightTime" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseQuickMan">Quick Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseQuickMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "quickManPrimaryColor", rom.RobotMasters.QuickMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "quickManSecondaryColor", rom.RobotMasters.QuickMan.SecondaryColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="quickManRunSpeed">Running Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.999" name="quickManRunSpeed" id="quickManRunSpeed" value="@rom.RobotMasters.QuickMan.RunSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="quickManRunDuration">Run Duration</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickManRunDuration" id="quickManRunDuration" value="@rom.RobotMasters.QuickMan.RunDuration" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="quickManProjectileCount">Number of Projectiles</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickManProjectileCount" id="quickManProjectileCount" value="@rom.RobotMasters.QuickMan.ProjectileCount" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="quickManProjectileLaunchSpeed">Projectile Launch Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickManProjectileLaunchSpeed" id="quickManProjectileLaunchSpeed" value="@rom.RobotMasters.QuickMan.ProjectileLaunchSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="quickManProjectileReturnDelay">Delay Before Returning</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickManProjectileReturnDelay" id="quickManProjectileReturnDelay" value="@rom.RobotMasters.QuickMan.ProjectileReturnDelay" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="quickManProjectileReturnSpeed">Projectile Return Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="quickManProjectileReturnSpeed" id="quickManProjectileReturnSpeed" value="@rom.RobotMasters.QuickMan.ProjectileReturnSpeed" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseHeatMan">Heat Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseHeatMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "heatManPrimaryColor", rom.RobotMasters.HeatMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "heatManSecondaryColor", rom.RobotMasters.HeatMan.SecondaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Projectile Color 1", "heatManProjectileColor1", rom.RobotMasters.HeatMan.ProjectileColor1.Name)" />
                    <partial name="_ColorFormGroup" model="@("Projectile Color 2", "heatManProjectileColor2", rom.RobotMasters.HeatMan.ProjectileColor2.Name)" />
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="heatManProjectile1Distance">Projectile 1 Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManProjectile1Distance" id="heatManProjectile1Distance" value="@rom.RobotMasters.HeatMan.Projectile1Distance" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManProjectile1Height">Projectile 1 Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManProjectile1Height" id="heatManProjectile1Height" value="@rom.RobotMasters.HeatMan.Projectile1Height" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManProjectile2Distance">Projectile 2 Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManProjectile2Distance" id="heatManProjectile2Distance" value="@rom.RobotMasters.HeatMan.Projectile2Distance" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManProjectile2Height">Projectile 2 Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManProjectile2Height" id="heatManProjectile2Height" value="@rom.RobotMasters.HeatMan.Projectile2Height" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="heatManProjectile3Distance">Projectile 3 Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManProjectile3Distance" id="heatManProjectile3Distance" value="@rom.RobotMasters.HeatMan.Projectile3Distance" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManProjectile3Height">Projectile 3 Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManProjectile3Height" id="heatManProjectile3Height" value="@rom.RobotMasters.HeatMan.Projectile3Height" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManRushDelay1">Rush Delay 1</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManRushDelay1" id="heatManRushDelay1" value="@rom.RobotMasters.HeatMan.RushDelay1" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManRushDelay2">Rush Delay 2</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManRushDelay2" id="heatManRushDelay2" value="@rom.RobotMasters.HeatMan.RushDelay2" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="heatManRushDelay3">Rush Delay 3</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManRushDelay3" id="heatManRushDelay3" value="@rom.RobotMasters.HeatMan.RushDelay3" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="heatManRushSpeed">Rush Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="heatManRushSpeed" id="heatManRushSpeed" value="@rom.RobotMasters.HeatMan.RushSpeed" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseWoodMan">Wood Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseWoodMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "woodManPrimaryColor", rom.RobotMasters.WoodMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "woodManSecondaryColor", rom.RobotMasters.WoodMan.SecondaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Leaf Color", "woodManLeafColor", rom.RobotMasters.WoodMan.LeafColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="woodManLeafDelay">Leaf Delay</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManLeafDelay" id="woodManLeafDelay" value="@rom.RobotMasters.WoodMan.LeafDelay" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="woodManFallingLeafCount">Falling Leaf Count</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManFallingLeafCount" id="woodManFallingLeafCount" value="@rom.RobotMasters.WoodMan.FallingLeafCount" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="woodManFallingLeafHorzSpeed">Falling Leaf Horizontal Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManFallingLeafHorzSpeed" id="woodManFallingLeafHorzSpeed" value="@rom.RobotMasters.WoodMan.FallingLeafHorizontalSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="woodManFallingLeafVertSpeed">Falling Leaf Vertical Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManFallingLeafVertSpeed" id="woodManFallingLeafVertSpeed" value="@rom.RobotMasters.WoodMan.FallingLeafVerticalSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="woodManProjectileSpeed">Projectile Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManProjectileSpeed" id="woodManProjectileSpeed" value="@rom.RobotMasters.WoodMan.ProjectileSpeed" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="woodManJumpHeight">Jump Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManJumpHeight" id="woodManJumpHeight" value="@rom.RobotMasters.WoodMan.JumpHeight" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="woodManJumpDistance">Jump Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="woodManJumpDistance" id="woodManJumpDistance" value="@rom.RobotMasters.WoodMan.JumpDistance" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseMetalMan">Metal Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseMetalMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "metalManPrimaryColor", rom.RobotMasters.MetalMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "metalManSecondaryColor", rom.RobotMasters.MetalMan.SecondaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Blade Color", "metalManBladeColor", rom.RobotMasters.MetalMan.BladeColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="metalManProjectileSpeed">Projectile Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="metalManProjectileSpeed" id="metalManProjectileSpeed" value="@rom.RobotMasters.MetalMan.ProjectileSpeed" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="metalManJump1Height">Jump 1 Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="metalManJump1Height" id="metalManJump1Height" value="@rom.RobotMasters.MetalMan.Jump1Height" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="metalManJump2Height">Jump 2 Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="metalManJump2Height" id="metalManJump2Height" value="@rom.RobotMasters.MetalMan.Jump2Height" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="metalManJump3Height">Jump 3 Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="metalManJump3Height" id="metalManJump3Height" value="@rom.RobotMasters.MetalMan.Jump3Height" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseFlashMan">Flash Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseFlashMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "flashManPrimaryColor", rom.RobotMasters.FlashMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "flashManSecondaryColor", rom.RobotMasters.FlashMan.SecondaryColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="flashManSpeed">Running Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.999" name="flashManSpeed" id="flashManSpeed" value="@rom.RobotMasters.FlashMan.RunSpeed" placeholder="Default: 1.0234375" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="flashManTimeStopperDelay">Time Stopper Delay</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="flashManTimeStopperDelay" id="flashManTimeStopperDelay" value="@rom.RobotMasters.FlashMan.TimeStopperDelay" placeholder="Default: 187" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="flashManJumpDistance">Jump Distance</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="flashManJumpDistance" id="flashManJumpDistance" value="@rom.RobotMasters.FlashMan.JumpDistance" placeholder="Default: 0" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="flashManJumpHeight">Jump Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="flashManJumpHeight" id="flashManJumpHeight" value="@rom.RobotMasters.FlashMan.JumpHeight" placeholder="Default: 4" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="flashManProjectileCount">Number of Projectiles</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="flashManProjectileCount" id="flashManProjectileCount" value="@rom.RobotMasters.FlashMan.ProjectileCount" placeholder="Default: 6" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="flashManProjectileSpeed">Projectile Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="flashManProjectileSpeed" id="flashManProjectileSpeed" value="@rom.RobotMasters.FlashMan.ProjectileSpeed" placeholder="Default: 8" />
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <h3><a data-toggle="collapse" href="#collapseCrashMan">Crash Man</a></h3>
            </div>
            <div class="card-body collapse" id="collapseCrashMan">
                <div class="row">
                    <partial name="_ColorFormGroup" model="@("Primary Color", "crashManPrimaryColor", rom.RobotMasters.CrashMan.PrimaryColor.Name)" />
                    <partial name="_ColorFormGroup" model="@("Secondary Color", "crashManSecondaryColor", rom.RobotMasters.CrashMan.SecondaryColor.Name)" />
                    <div class="col-md-3 form-group">
                        <label for="crashManWalkSpeed">Walk Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255.99609375" name="crashManWalkSpeed" id="crashManWalkSpeed" value="@rom.RobotMasters.CrashMan.WalkSpeed" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="crashManJumpHeight">Jump Height</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="crashManJumpHeight" id="crashManJumpHeight" value="@rom.RobotMasters.CrashMan.JumpHeight" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="crashManProjectileSpeed">Projectile Speed</label>
                        <input class="form-control" type="number" step="any" min="0" max="255" name="crashManProjectileSpeed" id="crashManProjectileSpeed" value="@rom.RobotMasters.CrashMan.ProjectileSpeed" />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<button type="submit" class="btn btn-primary" name="romButton" value="download">Download Custom ROM</button>
